extends layout

block content
  .container
    div.account.row
      div.col-sm-7
          h1 My Sites 
      div.accountButtons
        div.col-sm-3
            .input-group
              input#srch-term.form-control(type="text", placeholder="Search Progect Name", name="srch-term")
              .input-group-btn
                button.btn.btn-default.btn-primary(type="submit")
                  i.glyphicon.glyphicon-search


        div.col-sm-2
            //- a(href='/scanner' class="btn buttonNewProgect") 
            //-   span.col-sm-10 Create a new site
            //-   i(class="fa fa-plus col-sm-2  faNewProgect")
            a.buttonNewProgec(href="/scanner" title="Create a new site")<i class="fa fa-dribbble"></i> Create a new site

    hr

    ol.col-sm-7.olProgect
      each val, index in progects
        li.progectLi
          div.row.listProgect
            div.col-sm-4
              img(src='/images/screenshots/'+val.userId+val.name+'.png' class="projectImage")
            div.col-sm-8
              div.progectName= val.name
              a(href="/scanner/"+val.userId +"/" +val.name ).progectLink= "Edit"
              a(href="/progect/"+val.userId +"/" +val.name ).progectLink= "View"
              p.progectLink= "Upgrade"


    div.col-sm-7.creteNewProgect
      div.text-center
        i(class="fa fa-folder-open-o fa-5x faNewProgect")
        span.h4.NewProgectTitle 
          a(href='/scanner') Create a new progect
    div#more
      != progects.name