doctype html
html
  head
    title #{title}: express web
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/icons.css')
    link(rel='stylesheet', href='/stylesheets/scanner.css')
    link(rel='stylesheet', href='/bower/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/modal.css')

    
    //- bower styles*********************************************
    link(rel='stylesheet', href='/bower/slick.js/slick/slick.css')
    link(rel='stylesheet', href='/bower/slick.js/slick/slick-theme.css')
    link(rel='stylesheet', href='/bower/animate.css/animate.css')
    link(rel='stylesheet', href='/bower/medium-editor/dist/css/medium-editor.css')
    
    //-jquery ui layout
    link(rel="stylesheet" href="/bower/jquery-ui/themes/smoothness/jquery-ui.css")
    link(rel="stylesheet" href="/bower/jquery.layout/dist/layout-default-latest.css")
    link(rel="stylesheet" href="/bower/angular-ui-layout/ui-layout.css")

    //- codemirror
    link(rel="stylesheet" href="/bower/CodeMirror/lib/codemirror.css")
    link(rel="stylesheet" href="/bower/CodeMirror/theme/ambiance.css")
    link(rel="stylesheet" href="/bower/CodeMirror/addon/scroll/simplescrollbars.css")
    link(rel="stylesheet" href="/bower/CodeMirror/addon/hint/show-hint.css")        
    link(rel="stylesheet" href="/bower/CodeMirror/addon/dialog/dialog.css")        

    //-font awesome  
    link(rel='stylesheet', href='/bower/fontawesome/css/font-awesome.min.css')
    //- share buttton
    link(rel='stylesheet', href='/bower/rrssb/css/rrssb.css')
    //-intro js
    link(rel='stylesheet', href='/bower/intro.js/introjs.css')
    //-quill editor
    link(rel='stylesheet', href='/bower/quill/dist/quill.snow.css')
    //-ruler
    link(rel='stylesheet', href='/bower/RulersGuides.js/RulersGuides.js')

    //- bower scripts
    script(src='/bower/jquery/dist/jquery.min.js')
    script(src='//code.jquery.com/jquery-migrate-1.2.1.min.js')
    script(src='/bower/slick.js/slick/slick.js')
    script(src='/bower/medium-editor/dist/js/medium-editor.js')




    
  body.scanner
    nav.navbar.scannerNav.navbar-static-top(role='navigation')
      // Brand and toggle get grouped for better mobile display
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-8')
          span.sr-only Toggle navigation
          |                  
          span.icon-bar
          |                  
          span.icon-bar
          |                  
          span.icon-bar
        |               
        a.navbar-brand(href='/' data-intro='Hello step one!') Landing Chat
      // Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-8.collapse.navbar-collapse
        ul.nav.navbar-nav
          li.active.desktop
            a
              //- i(class="fa fa-desktop fa-2x")
              span.icon-desktop.fs1            
          li
            a.mobile
              //- i(class="fa fa-mobile fa-2x")
              span.icon-tablet.fs1         
          li
            a
              i(class="fa fa-eye fa-2x insperation")

          

         ul.nav.navbar-nav.navbar-right.publishNav
            li.drowB
              a <i class="fa fa-crop"></i>
            li.styleB
              a <i class="fa fa-file-image-o"></i>
            li.codeB 
              a <i class="fa fa-code"></i>
            li.preview 
              a Preview
            li
              a(data-toggle="modal" data-target="#myModal") Save
              div#myModal.modal.fade(tabindex='-1', class="modal newspaper unfold-3d" , role='dialog', aria-labelledby='myModalLabel' ,aria-hidden="true")
                .modal-dialog(role='document')
                  .modal-content 
                    .modal-body
                        .col-sm-12
                          .col-sm-10.pull-left
                            i(class="fa fa-database fa-4x saveProgect")
                            span.textProgectOne It's time to save your work
                            br 
                            span.textProgectTwo and to give your website a name
                          .col-sm-12
                            .col-sm-10
                              input.form-control(type='text' , name='project' , class="progectInput" , autocomplete="off", placeholder='Your site name')
                            button.btn.btnProgect(type='button' class="col-sm-2") Success
                            .col-sm-10
                              div.progectRow http://landing/#{name}/#[b.progectName]
                          hr
                          .col-sm-12
                            ol
                              li You can change your site name later    

                              li your site is private and will only be shown to the world with your approved 
                                
                              li You can publish your site
            li
              a Publish             


    block content


    //- form(action="/scanner" method="post" accept-charset="utf-8")
    //-                              .col-sm-10
    //-                                input.form-control(type='text' , name='project' , class="progectInput" , autocomplete="off", placeholder='Your site name')
    //-                              button.btn.btnProgect(type='submit' class="col-sm-2") Success
    


    script(src='/bower/jquery/dist/jquery.min.js')
    script(src='/bower/bootstrap/dist/js/bootstrap.min.js')
    script(src="/bower/jquery-ui/jquery-ui.js")
    script(src="/bower/jquery.layout/dist/jquery.layout-latest.js")
    script(src="/bower/ace-builds-bower-patched/src/ace.js" type="text/javascript" charset="utf-8")
    script(src="/bower/CodeMirror/lib/codemirror.js" type="text/javascript" charset="utf-8")
    script(src="/bower/CodeMirror/mode/xml/xml.js" type="text/javascript" charset="utf-8")
    script(src="/bower/CodeMirror/mode/htmlmixed/htmlmixed.js" type="text/javascript" charset="utf-8")
    script(src="/bower/CodeMirror/mode/css/css.js" type="text/javascript" charset="utf-8")
    script(src="/bower/CodeMirror/mode/javascript/javascript.js" type="text/javascript" charset="utf-8")
    script(src="/bower/CodeMirror/addon/scroll/simplescrollbars.js" type="text/javascript" charset="utf-8")
    script(src="/bower/CodeMirror/addon/hint/show-hint.js" type="text/javascript" charset="utf-8")
    script(src="/bower/CodeMirror/addon/hint/xml-hint.js" type="text/javascript" charset="utf-8")
    script(src="/bower/CodeMirror/addon/hint/html-hint.js" type="text/javascript" charset="utf-8")
    script(src="/bower/CodeMirror/addon/hint/css-hint.js" type="text/javascript" charset="utf-8")
    script(src="/bower/CodeMirror/addon/hint/javascript-hint.js" type="text/javascript" charset="utf-8")
    script(src="/bower/CodeMirror/addon/search/search.js" type="text/javascript" charset="utf-8")
    script(src="/bower/CodeMirror/addon/search/searchcursor.js" type="text/javascript" charset="utf-8")
    script(src="/bower/CodeMirror/addon/dialog/dialog.js" type="text/javascript" charset="utf-8")
    script(src='/bower/intro.js/intro.js')
    script(src='/bower/bower-tinymce-amd/tinymce/tinymce.js')
    script(src='/bower/color-thief/src/color-thief.js')
    script(src='https://rawgithub.com/mark-rolich/Event.js/master/Event.js')
    script(src='https://rawgithub.com/mark-rolich/Dragdrop.js/master/Dragdrop.js')
    script(src='/bower/RulersGuides.js/RulersGuides.js')
    

    script(src="/javascripts/scanner.js")
    script(src="/javascripts/sidebarScanner.js")
    script(src="/javascripts/scannerFunc.js")
  
    

     


    
    

