doctype html
html
  head
    title #{title}: express web
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.css')
    
    //- bower styles*********************************************
    link(rel='stylesheet', href='/bower/slick.js/slick/slick.css')
    link(rel='stylesheet', href='/bower/slick.js/slick/slick-theme.css')
    
    //-jquery ui layout
    link(rel="stylesheet" href="/bower/jquery-ui/themes/smoothness/jquery-ui.css")
    link(rel="stylesheet" href="/bower/jquery.layout/dist/layout-default-latest.css")
    link(rel="stylesheet" href="/bower/angular-ui-layout/ui-layout.css")

    //- codemirror
    link(rel="stylesheet" href="/bower/CodeMirror/lib/codemirror.css")
    link(rel="stylesheet" href="/bower/CodeMirror/theme/ambiance.css")
    link(rel="stylesheet" href="/bower/CodeMirror/addon/scroll/simplescrollbars.css")
    link(rel="stylesheet" href="/bower/CodeMirror/addon/hint/show-hint.css")        

    //-font awesome  
    link(rel='stylesheet', href='/bower/fontawesome/css/font-awesome.min.css')
    //- share buttton
    link(rel='stylesheet', href='/bower/rrssb/css/rrssb.css')

    //- bower scripts
    script(src='/bower/jquery/dist/jquery.min.js')
    script(src='//code.jquery.com/jquery-migrate-1.2.1.min.js')
    script(src='/bower/slick.js/slick/slick.js')


    
  body.scanner
    nav.navbar.scannerNav.scannerNav.navbar-static-top(role='navigation')
      // Brand and toggle get grouped for better mobile display
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-8')
          span.sr-only Toggle navigation
          |                  
          span.icon-bar
          |                  
          span.icon-bar
          |                  
          span.icon-bar
        |               
        a.navbar-brand(href='/') Landing Chat
      // Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-8.collapse.navbar-collapse
        ul.nav.navbar-nav
          li.active
            a(href='#') <i class="fa fa-desktop fa-2x"></i>
          |                   
          li
            a(href='#') <i class="fa fa-mobile fa-2x"></i>
          |                    
         
      // /.navbar-collapse


    block content

    
    footer
        p &copy; 2015 All Right Reserved


    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js')
    script(src="/bower/jquery-ui/jquery-ui.js")
    script(src="/bower/jquery.layout/dist/jquery.layout-latest.js")
    script(src="/bower/ace-builds-bower-patched/src/ace.js" type="text/javascript" charset="utf-8")
    script(src="/bower/CodeMirror/lib/codemirror.js" type="text/javascript" charset="utf-8")
    script(src="/bower/CodeMirror/mode/xml/xml.js" type="text/javascript" charset="utf-8")
    script(src="/bower/CodeMirror/mode/htmlmixed/htmlmixed.js" type="text/javascript" charset="utf-8")
    script(src="/bower/CodeMirror/mode/css/css.js" type="text/javascript" charset="utf-8")
    script(src="/bower/CodeMirror/mode/javascript/javascript.js" type="text/javascript" charset="utf-8")
    script(src="/bower/CodeMirror/addon/scroll/simplescrollbars.js" type="text/javascript" charset="utf-8")
    script(src="/bower/CodeMirror/addon/hint/show-hint.js" type="text/javascript" charset="utf-8")
    script(src="/bower/CodeMirror/addon/hint/xml-hint.js" type="text/javascript" charset="utf-8")
    script(src="/bower/CodeMirror/addon/hint/html-hint.js" type="text/javascript" charset="utf-8")
    script(src="/bower/CodeMirror/addon/hint/css-hint.js" type="text/javascript" charset="utf-8")
    script(src="/bower/CodeMirror/addon/hint/javascript-hint.js" type="text/javascript" charset="utf-8")

    //- pages scripts
    script(src="/javascripts/scanner.js")
    

