doctype html
html
  head
    title #{title}: express web
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/icons.css')
    link(rel='stylesheet', href='/bower/bootstrap/dist/css/bootstrap.min.css')
    
    //- bower styles*********************************************
    link(rel='stylesheet', href='/bower/slick.js/slick/slick.css')
    link(rel='stylesheet', href='/bower/slick.js/slick/slick-theme.css')
    //-font awesome  
    link(rel='stylesheet', href='/bower/fontawesome/css/font-awesome.min.css')
    //- share buttton
    link(rel='stylesheet', href='/bower/rrssb/css/rrssb.css')
    //- toaster
    link(rel='stylesheet', href='/bower/toastr/toastr.css')

    //- bower scripts
    script(src='/bower/jquery/dist/jquery.min.js')
    script(src='//code.jquery.com/jquery-migrate-1.2.1.min.js')
    script(src='/bower/slick.js/slick/slick.js')
    script(src='/bower/toastr/toastr.js')

    //- pages scripts
    script(src="/javascripts/index.js")
    script(src="/javascripts/account.js")
    script(src="/javascripts/templates.js")
    
  body
    
    nav.navbar-default.navbar.navbar-static-top
        .container
          div
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a(href='/')
             img.Navbar-brand(src='/images/4444.png')
          #navbar.collapse.navbar-collapse
            ul.nav.navbar-nav
              li(class=(title ==
               'Account' ? 'active' : ''))
                a(href='/account/') My Sites
              li(class=(title == 'Lando - Templates' ? 'active' : ''))
                a(href='/templates') Templates
              li(class=(title == 'Support' ? 'active' : ''))
                a(href='/support') Support


            ul.nav.navbar-nav.navbar-right
                if (user)
                  .dropdown.userInfo
                    img(src='/stylesheets/images/profile.png' class="profileImage")

                    a.dropdown-toggle(href="#", data-toggle="dropdown")
                      | Hi , #{name}
                      b.caret
                    ul.dropdown-menu(role="menu")
                      li.arrowUp
                        a(href='/users/logout') Account Settings
                      li
                        a(href='/users/logout') Billing & Payments
                      li
                        a(href='/users/logout') Logout
                else 
                    ul.nav.navbar-nav
                     li 
                       a(href='/users/register') Sign up 
                     li
                       a(href='/users/login') Sign in

    
  .container
    != messages()
    != toasts

  block content
  


  footer.footer
    #content-root-footer(role='global')
        .plans-and-pricing-ribbon
            Incredible drowrow Flexible pricing.  
            a(href='http://www.istockphoto.com/plans-and-pricing') Buy credits or subscribe today.
                  
          footer(role='global')
           .container
              .links
                #what-we-sell
                  ul
                    li.footer-category-title What we sell
                                        
                    li
                      a(href='http://www.istockphoto.com/stock-photos', data-isource-track='nav=nav_Photos') Photo
                                        
                    li
                      a(href='http://www.istockphoto.com/stock-illustrations', data-isource-track='nav=nav_Illustrations') Illustrations
                                        
                    li
                      a(href='http://www.istockphoto.com/footage', data-isource-track='nav=nav_Video') Video
                                        
                    li
                      a(href='http://www.istockphoto.com/music-clips', data-isource-track='nav=nav_Audio') Audio
                            
                            
                #company
                  ul
                    li.footer-category-title Company
                                        
                    li
                      a(href='http://press.gettyimages.com/about-us/istock', data-isource-track='nav_About_us', target='_blank') About us
                    li
                      a(href='http://press.gettyimages.com/', data-isource-track='foot_Press', target='_blank') Press
                    li
                      a(href='http://www.gettyimagesjobs.com/', data-isource-track='nav_Careers', target='_blank') Careers
                    li
                      a(href='http://www.gettyimagesaffiliates.com/', data-isource-track='nav_Affiliates', target='_blank') Affiliates
                    li
                      a(href='sell-stock-photos.php', data-isource-track='nav_sellStock', target='_blank') Sell stock
                            
                #ways-to-pay
                  ul
                    li.footer-category-title Ways to pay
                                        
                    li
                      a(href='http://www.istockphoto.com/plans-and-pricing', data-isource-track='nav=footer_plans_and_pricing') Plans and pricing
                                        
                    li
                      a(href='http://www.istockphoto.com/corporate-accounts.php', data-isource-track='nav=nav_Corporate_accounts') Corporate accounts
                                        
                    li
                      a(href='http://www.istockphoto.com/promo-code', data-isource-track='nav=nav_promo_code') iStock promo codes
                            
                #resources
                  ul
                    li.footer-category-title Resources
                                        
                    li
                      a(href='http://www.istockphoto.com/articles.php', data-isource-track='nav=nav_Articles') Articles
                                        
                    li
                      a(href='https://itunes.apple.com/us/app/istockphoto/id377716883?mt=8&ign-mpt=uo%3D4', target='_blank', data-isource-track='nav_Tools_Apps') Download iOS app
                            
                #need-help
                  ul
                    li.footer-category-title Need help?
                                        
                    li#lpChatFooter(style='visibility: visible;')
                                        
                    li
                      Phone support: 
                      p
                        a.tel(href='tel:+18664786251') 1 866 478 6251
                                        
                    li
                      International toll-free: 
                      p
                        a.tel(href='tel:+0080066646664') 00 800 6664 6664
                                        
                    .contact-us
                      li
                        a(href='http://www.istockphoto.com/contact_ticket.php', data-isource-track='nav=nav_Contact_us') Contact us
                                                                      
                      li
                        a(href='http://www.istockphoto.com/faq.php', data-isource-track='nav=nav_FAQ') FAQ
                      
            .footer-metadata                                   
                .copy-right
                  &copy;2015 iStockphoto LP. 
                  span The iStock design is a trademark of iStockphoto LP.

      .clearfix


script(src='/bower/bootstrap/dist/js/bootstrap.min.js')