doctype html
html
  head
    title #{title}: express web
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.css')
    
    //- bower styles*********************************************
    link(rel='stylesheet', href='/bower/slick.js/slick/slick.css')
    link(rel='stylesheet', href='/bower/slick.js/slick/slick-theme.css')
    //-font awesome  
    link(rel='stylesheet', href='/bower/fontawesome/css/font-awesome.min.css')
    //- share buttton
    link(rel='stylesheet', href='/bower/rrssb/css/rrssb.css')

    //- bower scripts
    script(src='/bower/jquery/dist/jquery.min.js')
    script(src='//code.jquery.com/jquery-migrate-1.2.1.min.js')
    script(src='/bower/slick.js/slick/slick.js')

    //- pages scripts
    script(src="/javascripts/index.js")
    
  body
    
    nav.navbar-default.navbar.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Landing Chat
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li(class=(title == 'Membres' ? 'active' : ''))
              a(href='/scanner') scanner
          ul.nav.navbar-nav.navbar-right
            - if (locals.user)
                li
                  a(href='/users/logout') LogOUT
            - else 
                   a.btn.btn-success(href='/users/register') Sign up 

                   a.btn.btn-default(href='/users/login') Sign in


    block content

    
    footer
        p &copy; 2015 All Right Reserved


    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js')
