extends head

block content
    .ui-layout-center Center
    .ui-layout-north North
    .ui-layout-south 
       #template-html.editor.ui-widget-content
       #template-css.editor.ui-widget-content
       #template-js.editor.ui-widget-content
    .ui-layout-west West

