extends head

block content
    script(type='text/javascript').
       jQuery(document).ready(function($) {
           var progect =!{JSON.stringify(progect)}
           var html = progect[0].html;
           var css = progect[0].css;
           var js = progect[0].js;

           var projectId = progect[0]._id;

          
           //set progect id to div 
           $('.progectId').val(projectId)

           //- var builtWith = "<div class='github-fork-ribbon-wrapper left'> <div class='github-fork-ribbon'> <a href='https://github.com/simonwhitaker/github-fork-ribbon-css'>Build With Lando</a> </div> </div>";
           $('.dataHtml').val(html);
           $('.dataCss').val(css);
           $('.dataJs').val(js);
       });

    if (user)
        input(type="hidden" , value="#{user}")
    if (progect)
        input(type="hidden" , class="dataHtml")
        input(type="hidden" , class="dataCss")
        input(type="hidden" , class="dataJs")
    
    //-************************center*******************************
    .ui-layout-center
          //- add menu
          nav.menu
            input#menu-open.menu-open(type='checkbox', href='#', name='menu-open')
            label.menu-open-button(for='menu-open')
              span.hamburger.hamburger-1
              span.hamburger.hamburger-2
              span.hamburger.hamburger-3
          div#drow
            ol#selectable.parent
              div.child.layer

            //- add modal
          p
            .stream-0.modal
              



              .userMes
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet orci mattis, interdum lorem nec, elementum dolor. Aenean et arcu viverra velit volutpat dignissim. Donec hendrerit diam vitae magna pulvinar hendrerit. Mauris sit amet massa quis elit tristique iaculis. Sed posuere libero eu neque fringilla fermentum. Proin lorem nunc, malesuada in odio ac, bibendum pharetra ipsum. Sed pharetra tincidunt mauris. In convallis sem sem, in dictum dui gravida hendrerit. Pellentesque sed nisl id erat iaculis porttitor.
                  br
             
              .admin Code goes here with a form
              .shedule Code goes here with a form
   

            //- side-bar
            //-   tabs
            //-     tab.layers(target='layers', touch-action='none')
            //-     tab.basic(target='basic', touch-action='none')
            //-     tab.border(target='border', touch-action='none')
            //-     tab.shadows(target='shadows', touch-action='none')
            //-     tab.text(target='text', touch-action='none')
            //-     tab.text-shadow(target='text-shadow', touch-action='none')
            //-     tab.filter(target='filter', touch-action='none')
            //-     tab.transform(target='transform', touch-action='none')
            //-     tab.settings(target='settings', touch-action='none')


            //-   //-layers
            //-   tab.active(name='layers')
                
            //-     panel(name='layers')
            //-         legend Layers
            //-         menu
            //-           menu-item(action='up')
            //-           menu-item(action='down')
            //-           menu-item(action='remove')
            //-           menu-item.add(action='add')
            //-           menu-item(action='clone')
                    
            //-         ul#sortable
            //-           layer-item
            //-             icon.eye.selected.active
            //-             icon.lock
            //-             input(spellcheck='false')

            //-     panel(name='basic' style="display:none;")
            //-         legend Basic
            //-         field(type='input')
            //-             input-number(class="inputwidth" , label='width:') 
            //-         field(type='input')
            //-             input-number( class="inputheight" , label='Height:') 
            //-         field(type='input')
            //-             input-number(class="inputfillOpacity" , label='opacity:') 
            //-         field(type="select")
            //-           label overflow
            //-           select 
            //-             option(value="visible") visible
            //-             option(value="hidden") hidden
            //-             option(value="scroll") scroll
            //-             option(value="auto") auto

                    
            //-         legend Background

            //-         field(type='input')
            //-             input-number(class="inputbsckgroundColor" ,label='bg:')
            //-         field(type='input')
            //-             input-number(class="inputbsckgroundImage" ,label='bg image:')
            //-         field(type='input')
            //-             input-number(class="inputbackgroundSize" ,label='bg size:')
            //-         field(type='input')
            //-             input-number(class="inputbackgroundRepeat" ,label='bg repeat:')

            //-        div#colorPicker
            //-         a.color
            //-           div.colorInner
            //-         div.track
            //-         ul.dropdown
            //-         input(type="hidden" class="colorInput")
            
                         


                

            //-     panel(name='border' style="display:none;")
            //-         legend Border
            //-         menu
            //-           menu-item(action='up')
            //-           menu-item(action='down')
            //-           menu-item(action='remove')
            //-           menu-item.add(action='add')
            //-           menu-item(action='clone')
                   



          iframe(width='100%', height="2000px" frameborder='no', scrolling="no", class="mainContainer" src='/result') 

        

    //-************************top*******************************          
    .ui-layout-north North

    //-************************botyom******************************* 
    .ui-layout-south 
       div.editerWraper
          #template-html.editor.ui-widget-content.zoomTarget
          #template-css.editor.ui-widget-content
          #template-js.editor.ui-widget-content
    
    //-************************left******************************* 
    .ui-layout-west
      div.imageBlock
        img.img-responsive.zoomTarget(src='/images/landing.png' , id="canvas")
        
        form(action="...", method="post", enctype="multipart/form-data")
          input(type="file", name="displayImage")




     input.progectId(type="hidden") 



//- div#loadingmessage
//-   div.container
//-     <div class="ex"></div>
//-     <div class="ex"></div>
//-     <div class="ex"></div>
//-     <div class="ex"></div>
//-     <h1>Loading...</h1>
//-   </div>  