extends head

block content
    .ui-layout-center 
        iframe(width='100%', height="2000px" frameborder='no', scrolling="no", class="mainContainer" src='/result')        
              
    .ui-layout-north North
    .ui-layout-south 
       div.editerWraper
          #template-html.editor.ui-widget-content
          #template-css.editor.ui-widget-content
          #template-js.editor.ui-widget-content
    .ui-layout-west West

