extends head

block content
    script(type='text/javascript').
       jQuery(document).ready(function($) {
           var progect =!{JSON.stringify(progect)}
           var html = progect[0].html;
           var css = progect[0].css;
           var js = progect[0].js;

           //- var builtWith = "<div class='github-fork-ribbon-wrapper left'> <div class='github-fork-ribbon'> <a href='https://github.com/simonwhitaker/github-fork-ribbon-css'>Build With Lando</a> </div> </div>";
           $('.dataHtml').val(html);
           $('.dataCss').val(css);
           $('.dataJs').val(js);
       });

    if (user)
        input(type="hidden" , value="#{user}")
    if (progect)
        input(type="hidden" , class="dataHtml")
        input(type="hidden" , class="dataCss")
        input(type="hidden" , class="dataJs")
    .ui-layout-center 
        iframe(width='100%', height="2000px" frameborder='no', scrolling="no", class="mainContainer" src='/result')        
              
    .ui-layout-north North
    .ui-layout-south 
       div.editerWraper
          #template-html.editor.ui-widget-content
          #template-css.editor.ui-widget-content
          #template-js.editor.ui-widget-content
    .ui-layout-west West



