  .modal-backdrop {
  -webkit-backface-visibility: hidden;
}
.modal-backdrop.zoom,
.modal-backdrop.newspaper,
.modal-backdrop.move-horizontal,
.modal-backdrop.move-from-top,
.modal-backdrop.unfold-3d,
.modal-backdrop.zoom-out {
  opacity: 0;
  transition: opacity 0.4s ease;
}
.modal-backdrop.in {
  opacity: 0.5;
}
.modal-backdrop.unfold-3d {
  perspective: 500;
}
.modal.zoom .modal-dialog {
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  transform: scale(0.6);
}
.modal.in .modal-dialog {
  opacity: 1;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  transform: scale(1);
}
.modal.fade.newspaper .modal-dialog,
.modal.newspaper .modal-dialog {
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s;
  transform: scale(0) rotate(500deg);
}
.modal.fade.newspaper.in .modal-dialog,
.modal.in .modal-dialog {
  opacity: 1;
  transform: scale(1) rotate(0deg);
}
.modal.move-horizontal .modal-dialog {
  opacity: 0;
  transition: all 0.5s;
  transform: translateX(-50px);
}
.modal.in .modal-dialog {
  opacity: 1;
  transform: translateX(0);
}
.modal.move-from-top .modal-dialog {
  opacity: 0;
  transition: all 0.5s;
  transform: translateY(-100px);
}
.modal.in .modal-dialog {
  opacity: 1;
  transform: translateY(0);
}
.modal.unfold-3d .modal-dialog {
  opacity: 0;
  transition: all 0.5s ease-in-out;
  transform-style: preserve-3d;
  transform: rotateY(-60deg);
}
.modal.in .modal-dialog {
  opacity: 1;
  transform: rotateY(0deg);
}
.modal.fade.zoom-out .modal-dialog,
.modal.zoom-out .modal-dialog {
  opacity: 0;
  transition: all 0.5s;
  transform: scale(1.3);
}
.modal.fade.zoom-out.in .modal-dialog,
.modal.in .modal-dialog {
  opacity: 1;
  transform: scale(1);
}
.csstransforms3d .modal.unfold-3d .modal-dialog {
  transform: none;
  transform-origin: 50% 100%;
  transform: scale(0.7) rotate3d(-1, 1, 0, -60deg);
}
.csstransforms3d .modal.in .modal-dialog {
  transform: scale(1) rotate3d(-1, 1, 0, 0deg);
}

.modal-backdrop {
    z-index: 222;
}

.modal-body {
    /* padding: 30px; */
}

.saveProgect{
    float: left;
    margin: 5px;
    color: #6EAAE2;
    font-size: 50px;
}

.textProgect{
    float: left;
    font-family: RobotoThin;
}

.textProgectOne , .textProgectTwo{
    font-size: 20px;
    float: left;
    font-family: RobotoThin;
}

.textProgectOne {
    font-size: 30px;
}

.textProgectTwo {
    margin-bottom: 25px;
}


.modal-body .scanner ol {
  counter-reset:li;
  margin: 0;
  padding: 0;
}
.modal-body .scanner ol > li {
  font-family: "Lato", sans-serif;
  text-align: left;
  font-size: 1.3em;
  list-style: none;
  margin: 0 0 .5em 1.95em;
  padding: .5em 1em;
  position: relative;
}
.modal-body .modal-body .scanner ol > li:before {
  background: #6EAAE2;
  color: white;
  content: counter(li);
  counter-increment:li;
  font-family: "Bree Serif", serif;
  font-size: 1.2em;
  line-height:1em;
  padding: .5em 0;
  position: absolute;
    top: .4em;
    left: -1.6em;
  text-align: center;
  width: 2em;
}

hr {
    float: left;
    color: red;
    width: 100%;
}

.progectRow {
    float: left;
    font-size: 13px;
    margin: 5px;
}

.modal-body {
    /* padding: 10px; */
    height: 370px;
}


/*fileupload*/

#upload .modal-dialog{
    width: 80%;
}

.modal-header {
    background-color: #428bca;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    min-height: 16.43px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}

#upload .modal-content{
   border: none!important;
   border-radius: 0px!important;
}

#upload .modal-body{
   padding: 0px!important;
}



/*texteditor*/
div#mce_142{
    display: none;
}

.mce-container {
    background-color: transparent !important;
}

/*fly menu*/

/*body {
  background: #3f51b5;
  color: white;
  text-align: center;
}

a {
  color: inherit;
}

h1, h2, h3, h4 {
  margin: 0;
  margin-bottom: 10px;
  margin-top: 10px;
}

h1 {
  font-size: 3em;
}*/

/*.menu {
  -webkit-filter: url("#shadowed-goo");
          filter: url("#shadowed-goo");
}*/

svg:not(:root) {
    display: none;
}

.menu-item, .menu-open-button {
  background: #3494E5;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 20px;
  color: white;
  text-align: center;
  line-height: 50px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: 
  
  
  -webkit-transform ease-out 200ms;
  transition: transform ease-out 200ms;
}

.menu-open {
  display: none;
}

.hamburger {
  width: 25px;
  height: 3px;
  background: white;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12.5px;
  margin-top: -1.5px;
  -webkit-transition: -webkit-transform 200ms;
          transition: transform 200ms;
}

.hamburger-1 {
  -webkit-transform: translate3d(0, -8px, 0);
          transform: translate3d(0, -8px, 0);
}

.hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.hamburger-3 {
  -webkit-transform: translate3d(0, 8px, 0);
          transform: translate3d(0, 8px, 0);
}



.menu {
  position: absolute;
  padding-top: 20px;
  padding-left: 50px;
}

.menu-item:hover {
  background: white;
  color: #696969;
}
.menu-item:nth-child(3) {
  -webkit-transition-duration: 70ms;
          transition-duration: 70ms;
}
.menu-item:nth-child(4) {
  -webkit-transition-duration: 130ms;
          transition-duration: 130ms;
}
.menu-item:nth-child(5) {
  -webkit-transition-duration: 190ms;
          transition-duration: 190ms;
}
.menu-item:nth-child(6) {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}
.menu-item:nth-child(7) {
  -webkit-transition-duration: 310ms;
          transition-duration: 310ms;
}

.menu-open-button {
  z-index: 2;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
          transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
          transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
}

.menu-open-button:hover {
  -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
          transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open:checked + .menu-open-button {
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
          transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item {
  -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
          transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}
.menu-open:checked ~ .menu-item:nth-child(3) {
  -webkit-transition-duration: 160ms;
          transition-duration: 160ms;
  -webkit-transform: translate3d(114.42548px, 11.48084px, 0);
          transform: translate3d(114.42548px, 11.48084px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(4) {
  -webkit-transition-duration: 240ms;
          transition-duration: 240ms;
  -webkit-transform: translate3d(77.18543px, 85.2491px, 0);
          transform: translate3d(77.18543px, 85.2491px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(5) {
  -webkit-transition-duration: 320ms;
          transition-duration: 320ms;
  -webkit-transform: translate3d(0.09158px, 114.99996px, 0);
          transform: translate3d(0.09158px, 114.99996px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(6) {
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transform: translate3d(-77.04956px, 85.37192px, 0);
          transform: translate3d(-77.04956px, 85.37192px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(7) {
  -webkit-transition-duration: 480ms;
          transition-duration: 480ms;
  -webkit-transform: translate3d(-114.40705px, 11.66307px, 0);
          transform: translate3d(-114.40705px, 11.66307px, 0);
}



/*************************************add modal****************************************/
/*COLOR Rules */
/**KULER BASE**/



.visible-phone {
  display: none !important;
}
.visible-tablet {
  display: none !important;
}
.hidden-desktop {
  display: none !important;
}
.visible-desktop {
  display: inherit !important;
}
@media (min-width: 768px) and (max-width: 979px) {
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important ;
  }
  .visible-tablet {
    display: inherit !important;
  }
  .hidden-tablet {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important;
  }
  .visible-phone {
    display: inherit !important;
  }
  .hidden-phone {
    display: none !important;
  }
}
/******************************************************************************/
.addElement {
    font-size: 30px!important;
    color: #3494E5;
    position: absolute;
    top: 4px;
    left: 11px;
    cursor: pointer;
}

.fullScreen {
    font-size: 20px!important;
    position: absolute;
    top: 10px;
    right: 7%;
}

.modal-trigger {
  color: white;
  font-size: 3em;
  text-align: center;
  text-decoration: none;
  padding-top: 5%;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background: tomato;
  height: 30%;
  width: 100%;
}
.modal-overlay .modal {
  display: none;
  height: 0px;
  width: 0px;
}
.modal-overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
.modal-overlay .modal-wrapper {
  position: absolute;/*Center Overlay*/
  top: 60px;
  right: 0;
  left: 0;
  margin: auto;
  margin-top: 1%;/*END Center Overlay*//*Make responsive*/
  width: 70%;
  min-width: 430px;
  height: 95%;
  min-height: 300px;
  max-height: 550px;/*END Make responsive*/
  padding: 0px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.8);
  background-color: #ffffff;
  overflow: hidden;
}
.modal-overlay .modal-content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
}
.modal-overlay .modal-close {
  position: absolute;
  text-shadow: rgba(0, 0, 0, 0.5) -1px 0, rgba(0, 0, 0, 0.3) 0 -1px, rgba(255, 255, 255, 0.5) 0 1px;
  border-left: 1px solid #b3b3b3;
  top: 0;
  width: 5.2%;
  bottom: 0;
  right: 0px;
  background: #d9d9d9;
  padding: 6px 2%;
  line-height: 2;
  font-size: 1.5rem;
}
.modal-overlay .modal-close:hover {
  background: #bfbfbf;
  color: #ffffff;
  cursor: pointer;
}
.modal-overlay .modal-header {
  z-index: 1007;
  color: #666666;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid #bfbfbf;
  background-color: #f2f2f2;
  background: 
  -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#ebebeb));
  background: -webkit-linear-gradient(top, #f2f2f2, #ebebeb);
  background: -moz-linear-gradient(top, #f2f2f2, #ebebeb);
  background:-ms-linear-gradient(top, #f2f2f2, #ebebeb);
  background: -o-linear-gradient(top, #f2f2f2, #ebebeb);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  bottom: 15px;
  height: 32px;
  padding: 20px;
}
.modal-overlay .modal-body {
  position: relative;
  display: block;
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin-top: 32px;
  padding: 0px;
}
/******************************************************************************/
.share {
  position: absolute;
}
.modal-left {
  display: block;
  height: 100%;
  float: left;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.modal-image {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.modal-image img {
  position: absolute;
  right: 0;
  left: 0;
  top: 25%;
  bottom: 25%;
  margin: auto;
  max-width: 98%;
  height: auto;
  max-height: 98%;
}
.modal-admin {
  position: relative;
  display: block;
  background: tomato;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(100%, 0);
  -moz-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  -o-transform: translate(100%, 0);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.modal-menu {
  position: absolute;
  width: 30%;
  min-width: 223px;
  height: 100%;
  right: 0;
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.wrapper-des {
  display: block;
  height: 100%;
  width: 111%;
  padding-right: 10px;
  padding-bottom: 30px;
  overflow-y: scroll;
}
.profile {
  width: 90%;
}
.profile .user {
  width: 80%;
}
.modal-des {
  overflow: hidden;
  position: relative;
  z-index: 1004;
  background: #d9d9d9;
  display: block;
  height: 100%;
  width: 85%;
  padding: 10px;
  float: left;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.modal-des a {
  color: #e7781b;
}
.wrapper-smenu {
  -webkit-transition: font-size 0;
  -moz-transition: font-size 0;
  -ms-transition: font-size 0;
  -o-transition: font-size 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  z-index: 1003;
  position: relative;
  display: block;
  height: 100%;
  background: #D9D9D9;
}
.wrapper-smenu li {
  list-style: none;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid #A59F9F;
}
.wrapper-smenu a {
  text-decoration: none;
}
.wrapper-smenu .nav {
  position: absolute;
  right: 0px;
  top: 0;
  bottom: 0;
  display: block;
  width: 21%;
  height: 100%;
  z-index: 1007;
  overflow: hidden;
  padding: 0;
  margin: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.wrapper-smenu .nav>li>a:focus, .nav>li>a:hover {
  background: none!important;
}
.wrapper-smenu .nav a {
  display: block;
  width: 100%;
}
.wrapper-smenu .nav li a:hover {
  color: #2C3B48;
}
.wrapper-smenu .nav .active {
  color: #634E4E;
}
.wrapper-smenu .nav .smenu-close {
  text-align: center;
}
.wrapper-smenu .nav .smenu-photo {
  text-align: center;
  bottom: 10px;
}
.wrapper-smenu .nav .smenu-time {
  text-align: center;
}
.wrapper-smenu .nav .smenu-user {
  text-align: center;
  position: absolute;
  bottom: 45px;
  left: 0;
  right: 0;
}
.wrapper-smenu .nav .smenu-user .active {
  background: #d9d9d9;
  color: #0b8c8c;
}
.wrapper-smenu .nav .smenu-download {
  text-align: center;
  /* left: 0; */
  right: 0;
}
.mobile-nav {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1099;
  background: #0b8c8c;
}
.mobile-nav span {
  width: 40px;
  height: 43px;
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #0a7979;
}
.mobile-nav i {
  color: white;
}
.mobile-des-active .modal-des {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  width: 430px;
  position: absolute;
  padding: 10px;
  margin-left: 10px;
  right: 55px;
}
@media (min-width: 768px) and (max-width: 979px) {
  .mobile-des-active .modal-des {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    width: 430px;
    position: absolute;
    right: 43px;
  }
}
.desktop-des-non-active .modal-left {
  width: 100%;
}
.desktop-des-non-active .modal-menu {
  width: 5%;
  min-width: 43px;
}
.desktop-des-non-active .modal-des {
  -webkit-transform: translate(125%, 0);
  -moz-transform: translate(125%, 0);
  -ms-transform: translate(125%, 0);
  -o-transform: translate(125%, 0);
  width: 200px;
}
.desktop-des-non-active .wrapper-smenu .nav {
  width: 100%;
}
.timer-active .modal-image {
  -webkit-transform: translate(-100%, 0);
  -moz-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  -o-transform: translate(-100%, 0);
}
.timer-active .modal-admin {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
}
.smenu-active .mobile-nav {
  -webkit-transition: font-size 0;
  -moz-transition: font-size 0;
  -ms-transition: font-size 0;
  -o-transition: font-size 0;
  font-size: 1.2em;
  -webkit-transform: translate(-42px, 0);
  -moz-transform: translate(-42px, 0);
  -ms-transform: translate(-42px, 0);
  -o-transform: translate(-42px, 0);
}
.smenu-active .modal-menu {
  -webkit-transform: translate(0px, 0);
  -moz-transform: translate(0px, 0);
  -ms-transform: translate(0px, 0);
  -o-transform: translate(0px, 0);
  width: 8%;
  min-width: 55px;
}
.smenu-active .wrapper-smenu {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  z-index: 1097;
}
.smenu-active .smenu-photo {
  -webkit-transform: translate(0, -18px);
  -moz-transform: translate(0, -18px);
  -ms-transform: translate(0, -18px);
  -o-transform: translate(0, -18px);
}
.smenu-active .smenu-time {
  -webkit-transform: translate(0, -18px);
  -moz-transform: translate(0, -18px);
  -ms-transform: translate(0, -18px);
  -o-transform: translate(0, -18px);
}
.smenu-active .smenu-user {
  -webkit-transform: translate(0, 24px);
  -moz-transform: translate(0, 24px);
  -ms-transform: translate(0, 24px);
  -o-transform: translate(0, 24px);
}
.smenu-active .smenu-download {
  -webkit-transform: translate(0, 28px);
  -moz-transform: translate(0, 28px);
  -ms-transform: translate(0, 28px);
  -o-transform: translate(0, 28px);
}
.smenu-active .profile {
  padding-left: 5%;
}
@media (min-width: 768px) and (max-width: 979px) {
  .modal-left {
    width: 95%;
  }
  .modal-menu {
    width: 5%;
    min-width: 43px;
  }
  .modal-des {
    -webkit-transform: translate(125%, 0);
    -moz-transform: translate(125%, 0);
    -ms-transform: translate(125%, 0);
    -o-transform: translate(125%, 0);
    width: 430px;
    position: absolute;
    right: 43px;
  }
  .wrapper-smenu .nav {
    width: 123%;
  }
  .wrapper-smenu {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    z-index: 1097;
  }
}
.trigger-tablet .modal-left {
  width: 95%;
}
.trigger-tablet .modal-menu {
  width: 5%;
  min-width: 43px;
}
.trigger-tablet .modal-des {
  -webkit-transform: translate(125%, 0);
  -moz-transform: translate(125%, 0);
  -ms-transform: translate(125%, 0);
  -o-transform: translate(125%, 0);
  width: 430px;
  position: absolute;
  right: 43px;
}
.trigger-tablet .wrapper-smenu .nav {
  width: 123%;
}
.trigger-tablet .wrapper-smenu {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  z-index: 1097;
}
@media (max-width: 767px) {
  .modal-wrapper {
    width: 100%;
  }
  .modal-left {
    width: 100%;
  }
  .modal-menu {
    -webkit-transform: translate(105%, 0);
    -moz-transform: translate(105%, 0);
    -ms-transform: translate(105%, 0);
    -o-transform: translate(105%, 0);
    width: 8%;
    min-width: 55px;
    font-size: 1.2em;
  }
  .modal-des {
    -webkit-transform: translate(120%, 0);
    -moz-transform: translate(120%, 0);
    -ms-transform: translate(120%, 0);
    -o-transform: translate(120%, 0);
    width: 430px;
    position: absolute;
    right: 43px;
  }
  .profile {
    width: 85%;
  }
  .smenu-photo {
    -webkit-transform: translate(0, -18px);
    -moz-transform: translate(0, -18px);
    -ms-transform: translate(0, -18px);
    -o-transform: translate(0, -18px);
  }
  .smenu-time {
    -webkit-transform: translate(0, -18px);
    -moz-transform: translate(0, -18px);
    -ms-transform: translate(0, -18px);
    -o-transform: translate(0, -18px);
  }
  .smenu-user {
    -webkit-transform: translate(0, 24px);
    -moz-transform: translate(0, 24px);
    -ms-transform: translate(0, 24px);
    -o-transform: translate(0, 24px);
  }
  .smenu-download {
    -webkit-transform: translate(0, 28px);
    -moz-transform: translate(0, 28px);
    -ms-transform: translate(0, 28px);
    -o-transform: translate(0, 28px);
  }
  .wrapper-smenu .nav {
    width: 118%;
  }
  .modal-body {
    margin-top: 0px;
  }
  .wrapper-smenu {
    z-index: 1097;
  }
  .mobile-nav {
    -webkit-transform: translate(-40px, 0);
    -moz-transform: translate(-40px, 0);
    -ms-transform: translate(-40px, 0);
    -o-transform: translate(-40px, 0);
  }
}
.trigger-mobileDevice .modal-wrapper {
  width: 100%;
}
.trigger-mobileDevice .modal-left {
  width: 100%;
}
.trigger-mobileDevice .modal-menu {
  -webkit-transform: translate(105%, 0);
  -moz-transform: translate(105%, 0);
  -ms-transform: translate(105%, 0);
  -o-transform: translate(105%, 0);
  width: 8%;
  min-width: 55px;
  font-size: 1.2em;
}
.trigger-mobileDevice .modal-des {
  -webkit-transform: translate(120%, 0);
  -moz-transform: translate(120%, 0);
  -ms-transform: translate(120%, 0);
  -o-transform: translate(120%, 0);
  width: 430px;
  position: absolute;
  right: 43px;
}
.trigger-mobileDevice .profile {
  width: 85%;
}
.trigger-mobileDevice .smenu-photo {
  -webkit-transform: translate(0, -18px);
  -moz-transform: translate(0, -18px);
  -ms-transform: translate(0, -18px);
  -o-transform: translate(0, -18px);
}
.trigger-mobileDevice .smenu-time {
  -webkit-transform: translate(0, -18px);
  -moz-transform: translate(0, -18px);
  -ms-transform: translate(0, -18px);
  -o-transform: translate(0, -18px);
}
.trigger-mobileDevice .smenu-user {
  -webkit-transform: translate(0, 24px);
  -moz-transform: translate(0, 24px);
  -ms-transform: translate(0, 24px);
  -o-transform: translate(0, 24px);
}
.trigger-mobileDevice .smenu-download {
  -webkit-transform: translate(0, 28px);
  -moz-transform: translate(0, 28px);
  -ms-transform: translate(0, 28px);
  -o-transform: translate(0, 28px);
}
.trigger-mobileDevice .wrapper-smenu .nav {
  width: 118%;
}
.trigger-mobileDevice .modal-body {
  margin-top: 0px;
}
.trigger-mobileDevice .wrapper-smenu {
  z-index: 1097;
}
.trigger-mobileDevice .mobile-nav {
  -webkit-transform: translate(-40px, 0);
  -moz-transform: translate(-40px, 0);
  -ms-transform: translate(-40px, 0);
  -o-transform: translate(-40px, 0);
}

.wrapper-smenu i {
    font-size: 25px;
}

.icons-active-mode{
  width: 17%!important;
}

.cdnHidden{
  display: none;
}


/*cdnjs inputs */
.filter-wrapper, .keyword-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.filter-wrapper {
  min-height: 100%;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative
}
.keyword-wrapper {
  width: 100%;
  position: relative;
}
#keyword {
  border: 1px solid #ccc;
  padding: 10px;
  font: 1.5em 'Arimo', sans-serif;
  width: 50%;
  outline: none;
  -webkit-transition: border 0.5s ease-in-out;
          transition: border 0.5s ease-in-out
}
#keyword:focus {
  border-top-color: rgba(0,0,0,0);
  border-left-color: rgba(0,0,0,0);
  border-right-color: rgba(0,0,0,0);
}
#keyword-button {
  position: absolute;
  right: 26%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.7em;
  color: #8DB9ED
}
#keyword-button:hover {
  color: #ccc
}
.filter-select {
  width: 50%;
  list-style: none;
  font-size: 1.1em;
  color: rgb(105,105,105);
  border: 1px solid #ccc;
  border-top: none;
  /*so things don't jump around*/
  position: absolute;
  left: 25%;
  /*Since we know the wrapper will always be 100% height, we can use half of 100% + half the height of the input*/
  top: calc(50% + 25px);
  /*for a better calculation use JS.  I'm calculating half of the body height - half the height of the input - li padding*/
  max-height: calc(50% - 15px);
  overflow-y: auto;
  background: #fff
}
.filter-select-list {
  cursor: pointer;
  padding: 5px 10px;
}
.filter-select-list:hover {
  background: rgb(155,155,155);
  color: #fff
}
.no-value {
  border: none
}
.list-highlight, .list-highlight:hover {
  background: rgb(55,55,55);
  color: #fff
}
/*some simple responsive designs*/
@media only screen and (max-width: 768px) {
  
  .filter-select, #keyword {
    width: 80%;
  }
  #keyword {
    font-size: 1.3em
  }
  .filter-select {
    font-size: 0.9em;
    left: 10%;
    top: calc(50% + 23px);
  }
  #keyword-button {
    right: 11%
  }
}
@media only screen and (max-width: 480px) {
  
  .filter-select, #keyword {
    width: 95%;
  }
  .filter-select {
    left: 2.5%;
  }
  #keyword-button {
    right: 3.5%
  }
}


/*apimodal************************************/
#myApi .modal-dialog {
    width: 90%;
}

#myApi a {
    color: rgba(26, 74, 115, 0.77);
    background: none;
}

h2#addHeader {
    text-align: center;
    position: absolute;
    top: 0px;
    text-transform: capitalize;
    right: 50%;
    margin: 4px 0px;
}


/*save element button*/

section, section div {
  /* See it in slo-mo, you can change this */
  transition-duration: .6s;
}

* { box-sizing: border-box; }


section, .button { transition-timing-function: ease; }

section {
  display: inline-block;
  position: relative;
  padding: .375rem .375rem 0;
  height: 2.5rem;
  background: #A9ADB6;
  border-radius: .25rem;
  perspective: 300;
  box-shadow: 0 -1px 2px #fff, inset 0 1px 2px rgba(0,0,0,.2), inset 0 .25rem 1rem rgba(0,0,0,.1);
}


.button { opacity: 0; }

.cover {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  transform-origin: center bottom;
  transform-style: preserve-3d;
  font: 1.25em/2 "icon";
  color: white;
  text-align: center;
  pointer-events: none;
  z-index: 100;
}

.innie, .outie, .spine, .shadow { position: absolute; width: 100%; }

.innie, .outie {
  height: 100%;
  background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0,0,0,.1) 100%);
  border-radius: .25rem;
}
.innie:after, .outie:after { content:"Save"; }

.innie {
  background-color: #67E2FE;
  text-shadow: 0 -2px 4px rgba(0,0,0,.2);
}

.spine {
  top: .25rem;
  background: #20C7F3;
  height: .25rem;
  transform: rotateX(90deg);
  transform-origin: center top;
}

.shadow {
  top: 100%;
  left: 0;
  height: 3.5rem;
  transform-origin: center top;
  transform: rotateX(90deg);
  opacity: 0;
  z-index: 0;
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,.6) 0%, transparent 100%);
  background-image: linear-gradient(to bottom, rgba(0,0,0,.6) 0%, transparent 100%);
  border-radius: .4rem;

}

.outie {
  background-color: #2EC8FA;
  transform: translateZ(.25rem);
  text-shadow: 0 2px 4px rgba(0,0,0,.2);
}

section:hover { background: #EBEFF2; }
section:hover .button { opacity: 1; }

section:hover .cover, section:hover .innie, section:hover .spine, section:hover .outie, section:hover .spine { transition-timing-function: cubic-bezier(.2,.7,.1,1.1); }

section:hover .cover { transform: rotateX(-120deg);  }

section:hover .innie { background-color: #3ADAFC; }
section:hover .spine { background-color: #52B1E0; }
section:hover .outie { background-color: #2174A0; color: rgba(255,255,255,0); }

section:hover .shadow { 
  opacity: 1;
  transform: rotateX(45deg) scale(.95);
}


small {
  font: .8rem/1 sans-serif;
  padding-top: 4rem;
  color: #777;
}
small a { color: #222; text-decoration: none; border-bottom: thin solid #ccc; }
small a:hover { border-bottom-color: #222; }


/* Twitter font icon: http://codepen.io/bennettfeely/pen/GCAKJ */
@font-face { font-family:icon; src: url('http://bennettfeely.com/fonts/icons.woff'); }

input[type="text"]
{
    background: transparent;
    border: none;
    font-size: 12px;
    padding: 2px 2px 2px 0px;
    display: block;
    border: none;
    border-bottom: 1px solid #844236;
    margin: 2px 0;
  
}