body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.slider img{
	width: 100%;
}

ul.rrssb-buttons.clearfix {
    position: relative;
    top: 464px;
    z-index: 22;
}


/* navbar */
.navbar-nav > li > a {padding-top:10px !important; padding-bottom:10px !important;}
.navbar {min-height:40px !important}

nav.navbar.scannerNav.navbar-static-top {
    height: 35px;
    position: fixed;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 15px 0px;
    border-bottom: 1px solid rgb(91, 87, 86);
    text-align: right;
    left: 0px;
    top: 0px;
    min-width: 700px;
    background-color: rgb(51, 51, 51);
}

.scannerNav a {
    color: rgb(255, 255, 255);
}

.scannerNav a.navbar-brand {
    padding: 10px;
    color: rgb(255, 255, 255);
}

li.active{
	
    background-color: #3494E5;
    height: 40px;
}


/*editor*/
 #editor { 
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
}
.editor {
    width: 33.333%; 
    float: left;
    font-size: 14px;
}

.CodeMirror.cm-s-ambiance.CodeMirror-simplescroll {
 max-height: 300%!important;
}

.ui-layout-south.ui-layout-pane.ui-layout-pane-south {
    padding: 0px!important;
}

.CodeMirror-vscrollbar {
    width: 9px;
}

.CodeMirror-simplescroll-vertical div {
    background: #666!important;
}

.CodeMirror-gutter.CodeMirror-linenumbers {
    background-color: #3494E5;
}

.CodeMirror-linenumber.CodeMirror-gutter-elt {
    color: #fff!important;
}
