body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.slider img{
	width: 100%;
}

ul.rrssb-buttons.clearfix {
    position: relative;
    top: 464px;
    z-index: 22;
}
